	<!-- Five -->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>{{page.title}}</h2>
							{{page.content}}
						</div>

						<!-- Gallery -->
							<div class="gallery style2 medium lightbox onscroll-fade-in">
                                {% for item in page.header.portfolio %}
								<article>
                                  
                                        {{ page.media[item.projectimg].lightbox(1000,1000).cropZoom(360,250).html('Portfolio Image', 'Portfolio project','image') }}

									
									<div class="caption">
                                        <h3>{{ item.project_title }}</h3>
                                        <p>{{ item.project_description }}</p>
										<ul class="actions">
											<li><span class="button small">Details</span></li>
										</ul>
									</div>
								</article>
                                {% endfor %}
							</div>

					</section>
