{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE HTML>

<html>
<head>
	<title>{{site.title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% do assets.addCss('theme://css/main.css') %}
	{{ assets.css()|raw }}
</head>
<body>
	<!-- Wrapper -->
	<div id="wrapper" class="divided">
		{% block content %}{% endblock %}
	<!-- Footer -->
		<footer class="wrapper style1 align-center">
			<div class="inner">
				<ul class="icons">
					{% for icons in theme_config.footer.icon %}				
					<li><a href="{{icons.link}}" class="icon style2 {{icons.name}}"><span class="label">{{icons.title}}</span></a></li>
					{% endfor %}
				</ul>
				<p>{{ theme_config.footer.text }}</p>
			</div>
		</footer>
	</div>

<!-- Scripts -->
	{% do assets.addJs('theme://js/jquery.min.js', 120) %}
	{% do assets.addJs('theme://js/jquery.scrollex.min.js', 119) %}
	{% do assets.addJs('theme://js/jquery.scrolly.min.js', 118) %}
	{% do assets.addJs('theme://js/skel.min.js', 117) %}
	{% do assets.addJs('theme://js/util.js', 116) %}
	{% do assets.addJs('theme://js/main.js', 115) %}
	{{ assets.js()|raw }}

</body>
</html>
